:root {
  --main-color: #ffffff;
  --secondary-color: #f1ddc8;
  --dark-color: #3a230b;
  --elements-color: #dca367;
  --linear-gradient: linear-gradient(
    90deg,
    #f3a50c 0%,
    #ea9508 39.09%,
    #da6e0b 100%
  );
  --text-color: #44290e;
  --placeholder-color: rgba(58, 35, 11, 0.73);

  --regular-font: "PTSans-Regular", sans-serif;
  --bold-font: "PTSans-Bold", sans-serif;
  --section-font: "Lifehack Sans", sans-serif;

  --border-radius: 30px;
}

@font-face {
  font-family: "PTSans-Regular";
  src: url("../fonts/PTSans-Regular.eot");
  src: url("../fonts/PTSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PTSans-Regular.ttf") format("truetype"),
    url("../fonts/PTSans-Regular.woff") format("woff"),
    url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "PTSans-Bold";
  src: url("../fonts/PTSans-Bold.eot");
  src: url("../fonts/PTSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PTSans-Bold.ttf") format("truetype"),
    url("../fonts/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Lifehack Sans";
  src: url("../fonts/Lifehack Sans.eot");
  src: url("../fonts/Lifehack Sans.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lifehack Sans.ttf") format("truetype"),
    url("../fonts/Lifehack Sans.woff") format("woff"),
    url("../fonts/Lifehack Sans.woff2") format("woff2");
}

*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}

body {
  background: var(--main-color) url("../img/pattern.png");
  background-size: cover;
  font-family: var(--regular-font);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.section-title {
  position: relative;
  font-family: var(--section-font);
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 30px;
    background-color: var(--dark-color);
    margin-left: 30px;
  }
}

.section-subtitle {
  margin-right: auto;
  margin-left: 60px;
}

.logo {
  width: 133px;
  height: 30px;
  object-fit: contain;
}

.container {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto;
}

.button {
  background: var(--linear-gradient);
  border: none;
  border-radius: var(--border-radius);
  font-family: var(--bold-font);
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

button,
button:focus,
input,
input:focus,
select,
select:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
